<div class="main">
  <nav>
    <div class="nav-wrapper white">
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li id="intent" class=" col s10">
          <div class="input-field">
            <input placeholder="Placeholder" [(ngModel)]="intent" id="intent" type="text" class="validate">
          </div>
        </li>
        <li class="col s2">
          <a class=" btn waves-effect waves-light" (click)="saveIntent()">SAVE</a>
        </li>
      </ul>
    </div>
  </nav>
  <ul class="collapsible expandable ">
    <li class="active">
      <div class="collapsible-header grey lighten-3">
        <i class="material-icons tooltipped" data-position="top" data-tooltip="Tell the bot how user will react">chat_bubble_outline</i>User Reaction
      </div>
      <div class="collapsible-body user-say">
        <ul class="collection with-header">
          <li class="collection-header col s12 ">
            <div class="input-field  col s10">
              <input (mouseup)="setHighlightedTextFromInput()" placeholder="What will user say" [(ngModel)]="text" id="text" type="text"
                class="validate">
            </div>
            <div class="col s2 center m-t-5">
              <a class=" btn waves-effect waves-light" (click)="addText()">ADD</a>
            </div>
          </li>
        </ul>
        <!-- <ul class="collection with-header main">
          <li class="collection-item col s12 " *ngFor="let intent of intents "><div>{{intent.intent}}<a routerLink="/intentEdit/{{intent.intent}} " class="secondary-content "><i class="material-icons black-text ">chevron_right</i></a></div></li>
        </ul> -->
        <ul class="collection border-none" [hidden]="texts.length < 0">
          <li #texts *ngFor="let text of texts; index as i;" [attr.data-index]="i" class="collection-item ">
            <blockquote class="text-select" (mouseup)="setHighlightedText(i)">{{text.value}}
              <a class="btn-flat right">
                <i (click)="editTxt(text.value,i)" data-position="top" data-tooltip="Edit text" class="tooltipped material-icons">edit</i>
              </a>
              <a class="btn-flat right">
                <i (click)="text.show = !text.show" class="material-icons">add</i>
              </a>
            </blockquote>
            <div [hidden]="!text.show" class="entity-edit">
              <ul class="collection">
                <li class="collection-item">
                  <table>
                    <tbody class="p-0">
                      <tr *ngFor="let entity of text.entities; index as j;" [attr.data-index]="j">
                        <td>
                          <span> {{text.value.slice(entity.start,entity.end)}}</span>
                        </td>
                        <td>
                          <div class="input-field col s10 p-l-0">
                            <input placeholder="Entity Name" [(ngModel)]="entity.entity" type="text" class="validate">
                          </div>
                        </td>
                        <td>
                          <div class="input-field  p-l-0 col s10">
                            <input placeholder="Entity Value" [(ngModel)]="entity.name" type="text" class="validate">
                          </div>
                        </td>
                        <td>
                          <a class="btn-flat right">
                            <i (click)="deleteEntity(i,j)" data-position="top" data-tooltip="Delete this entity" class="tooltipped material-icons">delete_forever</i>
                          </a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                  <div [hidden]="!text.highlightedText">
                    <a class="waves-effect waves-light btn-small " (click)="showEntityPopup(i)">Add an entity for "{{text.highlightedText}}"</a>
                  </div>
                  <div [hidden]="text.highlightedText">
                    <a class="waves-effect waves-light btn-small disabled ">Select some text for adding entity</a>
                  </div>
                </li>


              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
    <li class="active">
      <div class="collapsible-header grey lighten-3">
        <i class="material-icons tooltipped" data-position="top" data-tooltip="Here you will write how the picasi will respond">chat_bubble_outline</i>Response
      </div>
      <div class="collapsible-body user-say">
        <!-- <a class='dropdown-trigger btn-flat' data-target='response-dropdown'>
          <span>Select Response Type</span>
        </a>
        <ul class='dropdown-content' id='response-dropdown'>
          <li *ngFor="let responseType of responseTypes; index as i;" [attr.data-index]="i">
            <a (click)="setResponse(i)">{{responseType.name}}</a>
          </li>
        </ul> -->
        <ul id="tabs-swipe-demo" #taber class="tabs">
          <li class="tab col s6 black-text">
            <a href="#tresp">Text Response</a>
          </li>
          <li class="tab col s6 black-text" >
            <a  href="#eresp">Event Details</a>
          </li>
        </ul>
        <!-- <div >
          Test 1
        </div>
        <div >
          Test 2
        </div> -->
 
        <!-- <div class="input-field">
            <select [(ngModel)]="rType">
              <option value="" disabled selected>Choose response type</option>
              <option *ngFor="let responseType of responseTypes; index as i;" value="responseType.id">{{responseType.name}}</option>
            </select>
          </div> -->
        <div *ngFor="let response of responses;index as k;" [attr.data-index]="k" [ngSwitch]="response.type">
          <div *ngSwitchCase="1" id="tresp" class="col s12 active f-none">
            <ul class="collection with-header">
              <li class="collection-header col s12 ">
                <div class="input-field  col s10">
                  <input placeholder="How the picasi will respond"
                   [(ngModel)]="text_response" id="response" type="text" class="validate">
                </div>
                <div class="col s2 center m-t-5">
                  <a class=" btn waves-effect waves-light" (click)="addResponse(k)">ADD</a>
                </div>
              </li>
            </ul>
            <ul class="collection border-none">
              <li *ngFor="let t_resp of response.txt_resps; index as j" [attr.data-index]="j" class="collection-item">
                <blockquote>{{t_resp}}
                  <a class="btn-flat right ">
                    <i (click)="editResp(t_resp,j,k)" data-position="top" data-tooltip="Edit response" class=" tooltipped material-icons">edit</i>
                  </a>
                </blockquote>
              </li>
            </ul>
          </div>
          <div id="eresp" class="col s12 f-none" *ngSwitchCase="3">
            <app-registration-stepper [response]="response.step_resp"></app-registration-stepper>
          </div>
        </div>
        </div>
    </li>
  </ul>
  </div>