<div class="card white main">
  <div class="card-content">
    <ul class="stepper linear">
      <li class="step active">
        <div class="step-title waves-effect waves-dark black-text">Date and time</div>
        <div class="step-content">
          <!-- <div class="row"> -->
          <!-- <div class="input-field col s12">
              <span class="col s2">Start : </span>
              <input type="text" #sdate [(ngModel)]="st" class="datepicker col s4">
              <span class="col s2">End : </span>
              <input type="text" #stime [(ngModel)]="et" class="timepicker col s4">
            </div>
            <div class="input-field col s12">
              <span class="col s2">Start : </span>
              <input type="text" #edate [(ngModel)]="st" class="datepicker col s4">
              <span class="col s2">End : </span>
              <input type="text" #etime [(ngModel)]="et" class="timepicker col s4">
            </div>
          </div>
          <div class="row">
            <div class="step-actions">
              <button class="waves-effect waves-dark btn-flat next-step black-text" (click)="anyThing()">Continue</button>
            </div>
          </div> -->
          <!-- <ul class="collection with-header">
            <li class="collection-header col s6 ">
              <div class="input-field  col s12">
                <span class="col s4">Start Date label</span>
                <input placeholder="" [(ngModel)]="response.s1.sd_lbl" id="response" type="text" class="validate col s8">
              </div>
            </li>
            <li class="collection-header col s6 ">
              <div class="input-field  col s12">
                <span class="col s4">Start Time label</span>
                <input placeholder="" [(ngModel)]="response.s1.st_lbl" id="response" type="text" class="validate col s8">
              </div>
            </li>
            <li class="collection-header col s6 ">
              <div class="input-field  col s12">
                <span class="col s4">End Date label</span>
                <input placeholder="" [(ngModel)]="response.s1.ed_lbl" id="response" type="text" class="validate col s8">
              </div>
            </li>
            <li class="collection-header col s6 ">
              <div class="input-field  col s12">
                <span class="col s4">End Time label</span>
                <input placeholder="" [(ngModel)]="response.s1.et_lbl" id="response" type="text" class="validate col s8">
              </div>
            </li>
          </ul> -->
          <a class="waves-effect waves-light btn modal-trigger" href="#scheduleModal">Modal</a>
          <app-schedule-viewer [data] = "schedulingData"></app-schedule-viewer>
          <div class="row">
              <div class="step-actions">
                <button class="waves-effect waves-dark btn normal-btn next-step black-text" (click)="anyThing()">Continue</button>
              </div>
            </div>
        </div>
      </li>
      <li class="step">
        <div class="step-title waves-effect waves-dark black-text">Add Fields</div>
        <div class="step-content">
          <div *ngFor="let field of response.s2.fields; index as i;" [attr.data-index]="i" class="row">
            <div class="field-header col s12 valign-wrapper">
              <span class="field-header left col s11">Filed {{i+1}}</span>
              <span class="right col s1">
                <i (click)="deleteField(i)" class="fas fa-trash-alt pointer"></i>
              </span>
            </div>
            <div class="input-field col s12">
              <span class="col s2">Add field label</span>
              <input placeholder="Enter field label" [(ngModel)]="field.lbl" type="text" class="validate col s10">
            </div>
            <div class="input-field col s12">
              <span class="col s2">Add field placeholder</span>
              <input placeholder="Enter field placeholder" [(ngModel)]="field.ph" type="text" class="validate col s10">
            </div>
          </div>
          <div class="row col s12">
            <div class="step-actions">
              <a class="waves-effect waves-dark btn normal-btn next-step white-text">Continue</a>
              <a class="waves-effect waves-dark btn normal-btn white-text" (click)="addFileds()">Add field</a>
              <a class=" waves-effect waves-dark btn normal-btn previous-step white-text ">Back</a>
            </div>
          </div>
        </div>
      </li>
      <li class="step ">
        <div class="step-title waves-effect waves-dark black-text ">Final Message</div>
        <div class="step-content ">
          <div class="row col s12 ">
            <div class="input-field col s12">
              <span class="col s2">Add final message</span>
              <input placeholder="Enter final message" [(ngModel)]="response.s3.msg" type="text" class="validate col s10">
            </div>
          </div>
          <div class="row col s12 ">
          <div class="input-field col s12">
            <span class="col s2">Submission Button Text</span>
            <input placeholder="Enter field placeholder" [(ngModel)]="response.s3.btn_txt" type="text" class="validate col s10">
          </div>
        </div>
        <!-- <div class="row col s12 ">
          <div class="col s12">
            <span class="col s2">Button color</span>
            <div class="input-field col s4">
              <input [(colorPicker)]="response.s3.btn_clr" [style.background]="response.btn_clr" [cpHeight]="200" [cpPosition]="'right'"
                 type="text" class="validate">
            </div>
            <span class="col s2">Button text color</span>
            <div class="input-field col s4">
              <input [(colorPicker)]="response.s3.btn_txt_clr" [style.background]="response.btn_txt_clr" [cpHeight]="200" [cpPosition]="'left'"
                type="text" class="validate">
            </div>
          </div>
        </div> -->
        <div class="row col s12 ">
        <div class="step-actions ">
          <button class="waves-effect waves-dark btn next-step" (click)="saveAppointment() ">Confirm Booking</button>
        </div>
        </div>

  </div>
  </li>
  </ul>

</div>
</div>