<div class="main">
    <h4 style="padding: 0 .75rem;">Update the details of <span class="orange-text">{{project.name}}</span> </h4>
    <p style="padding: 0 .75rem;">You can update the details of picasi here</p>
    <p style="padding: 0 .75rem;">Project with the same name not allowed.</p>
        <div class="row border-1-solid">
            <div class="row">
              <div class="input-field col s12">
                <input id="projectname" [(ngModel)]="project.name" placeholder="Name" type="text" class="validate">
              </div>
                <!-- <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </select> -->
                <!-- <input id="icon_prefix" type="text" class="validate"> -->
            </div>
            <div class="row p-l-0 ">
              <div class="col s3 ">
                <div class="switch">
                  <label>
                    <input [(ngModel)]="project.stt" type="checkbox">
                    <span class="lever"></span>
                    Speech to Text
                  </label>
                </div>
              </div>
              <div class="col s3">
                <div class="switch">
                  <label>
                    <input type="checkbox" [(ngModel)]="project.tts">
                    <span class="lever"></span>
                    Text to Speech
                  </label>
                </div>
              </div>
            </div>
            <div class= "row center">
              <a  (click) = "saveProject()"class="cyan btn waves-effect waves-light ">SAVE</a>
              <a  (click) = "delProject()"class="cyan btn waves-effect waves-light margin-l-10 ">DELETE</a>
            </div>
        </div>
      </div>
    
    