<nav>
  <div class="nav-wrapper purple ">
    <a href="#" class="brand-logo p-l-10  ">
      
        <i class=" material-icons black-text white-text ">all_inclusive</i>
        Picasi Creator
     
    </a>

    <ul id="nav-mobile" class=" p-r-10 right hide-on-med-and-down">
        <li><a href="#new-project-modal"  class="  modal-trigger  ">Create project</a></li>
        <!-- <li><a (click)="trainModel()" class="">Train Model  </a></li> -->
    </ul>
  </div>
</nav>
<div id="project-list">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Creadted On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projectList">
        <td>{{project.name}}</td>
        <td>{{project.name}}</td>
        <td>
          <a class="waves-effect waves-light  btn-flat " routerLink="/editor" routerLinkActive="active"><i class=" material-icons ">edit</i></a>
          <a class="waves-effect waves-light  btn-flat "><i class=" material-icons ">delete_forever</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-new-project-modal ></app-new-project-modal>
