 <!-- Modal Structure -->
 <div id="scheduleModal" class="modal">
  <div class="modal-content">
     <h4>Choose the slot</h4>
     
      <div *ngFor="let row of data" class="row">
        <div class="col s4"><b>{{row.date}}</b></div>
        <div>
        <p *ngFor="let slot of row.m_slt index as i;" [attr.data-index]="i" class="col s3">
          <label>
            <span>{{slot}}</span>
          </label>
        </p> 
      </div>
      <div>       
        <p *ngFor="let slot of row.e_slt index as i;" [attr.data-index]="i" class="col s3">
            <label>
              <span>{{slot}}</span>
            </label>
          </p>        
      </div>
        <!-- <a class="col s2 normal-btn btn waves-effect waves-light red"><i class="material-icons">add</i></a> -->
    </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
        