<!-- <ul class="collection with-header main" id="intent-header">
  <li class="collection-header col s12 m-b-10 grey lighten-3 valign-wrapper ">
    <span class="col s2 f-w-b purple-text">Projects :</span>
    <span class=" left col s8 ">
      <select  [(ngModel)]="project" (ngModelChange)="projectChange($event)" class="">
        <option  #list *ngFor="let project of projectList;" value="{{project.id}}">{{project.name}}</option>
      </select>
    </span>
    <span class="col s2"> -->
<!-- <a  routerLink="/intentEdit"  class=" purple btn waves-effect waves-light " >ADD INTENT</a> -->
<!-- <a href="#new-project-modal"  class="purple btn waves-effect waves-light  modal-trigger">CREATE NEW PICASI</a>
</span> -->
<!-- <span class="col s3">

      <a (click)="showTrainingToast()" class="col s12 purple btn waves-effect waves-light ">Train Model</a>
      -->
<!-- Dropdown Trigger -->
<!-- <a class='dropdown-trigger cyan btn' href='#' data-target='dropdown1'>
        <i class="small material-icons">add</i>
      </a> -->
<!-- Dropdown Structure -->
<!-- <ul id='dropdown1' class='dropdown-content'>
        <li>
          <a (click)="trainModel()" class="white purple-text ">Train Model </a>
          <a href="#new-project-modal" class=" white  purple-text modal-trigger puple">Create project</a>
        </li>
        <li>
          <a (click)="trainModel()" class="white purple-text ">Train Model </a>
        </li>
      </ul>

    </span>
  </li>
</ul> -->
<ul class="collection with-header main " id="intent-list">
  <li class="collection-header col s12 p-l-0 valign-wrapper ">
    <span class=" left col s8 p-l-0 ">
      <div class="input-field col p-l-0 s12">
        <i class="material-icons prefix">search</i>
        <input [(ngModel)]="searchText" id="icon_prefix" type="text" class="validate white">
      </div>
    </span>
    <span class="right col s2 ">
      <a routerLink="/intentEdit/{{project}}/" class=" cyan btn waves-effect waves-light white-text ">ADD INTENT</a>
    </span>
    <span class="right col s2 ">
      <a routerLink="/picasi/{{project}}/" routerLinkActive="active" class=" cyan btn waves-effect waves-light white-text ">Picasi</a>
    </span>
  </li>
  <!-- <li>

    <div class="row valign-wrapper">
      <div class="input-field col s10">
        <i class="material-icons prefix">textsms</i>
        <input type="text" id="autocomplete-input" class="autocomplete">
        <label for="autocomplete-input">Autocomplete</label>
      </div>
    </div>
  </li> -->
  <li class="collection-item col s12">
    <span  [hidden]="intents.length == 0" class=" badge new badge orange left badge-updated " data-badge-caption=" Intents">{{totalIntents}}</span>
    <span  [hidden]="intents.length != 0" class=" badge new badge orange left badge-updated " data-badge-caption=" No intents available start creating"></span>
  </li>
  <li class="collection-item col s12 grey lighten-3 " *ngFor="let intent of intents  | filter : searchText;index as i;" [attr.data-index]="i">
    <span class="col s10">
      <a routerLink="/intentEdit/{{project}}/{{intent.intent}}">
        <i class=" inline-icon small material-icons cyan-text">bubble_chart</i>{{intent.intent}}
      </a>
    </span>
    <span class="col s2">
      <a class=" waves-effect waves-light btn-flat " (click)="deleteIntent(i)">
        <i class=" inline-icon  material-icons ">delete_forever</i>
      </a>
    </span>
  </li>
  <li class="collection-item col s12 " [hidden]="intents.length < maxRecords">
    <ul class="pagination right">
      <li [ngClass]="{'disabled none-cursor' : pno < 2}">
        <a (click)="initializeIntentList(pno-1)" class="pointer">
          <i class="material-icons">chevron_left</i>
        </a>
      </li>
      <li *ngFor="let page of pages">
        <a (click)="initializeIntentList(page)" class="pointer">{{page}}</a>
      </li>
      <li class="waves-effect" [ngClass]="{'disabled none-cursor' : pno > pages.length -1 }">
        <a (click)="initializeIntentList(pno+1)" class="pointer">
          <i class="material-icons">chevron_right</i>
        </a>
      </li>
    </ul>
  </li>
</ul>
<app-new-project-modal></app-new-project-modal>
<script id="chatbot-script" type="text/javascript" src="http://localhost:3000/chatbot/js/chatbot-widget.js"></script>