
<div class="chatlist" #chatlist>
  <ul class="list-group">
    <div *ngFor="let msg of messages; index as i;" [attr.data-index]="i">
      <span [hidden] = "msg.type != 'bot'"  class="rawresp">
        <a  (click)="openRawResponseModal(i)" class=" right waves-effect waves-purple btn-flat" >
          <i class="material-icons">open_in_new</i>  
        </a>
      </span>
      <message-item  [message]="msg" ></message-item>
    </div>
  </ul>
</div>
<div #rawrespmodal class="modal">
    <div class="modal-content ">
        <h4>Raw Response</h4>
        <div id="rawresp-div" class="grey lighten-3">
          <div>
              <pre><code class="json orange-text">{{rawresponse|json}}</code></pre>
          </div>
        </div>
        <div class="row center m-t-10"><a class="modal-close waves-effect btn">Close</a></div>
      </div>
</div>