<!-- Modal Structure -->
<div id="modal1" class="modal white">
  <div class="modal-content ">
    <h4>Copy follwoing code to add bot in your website</h4>
    <div id="code-div" class="grey lighten-3">
      <a  (click)="copyToClipboard(tta)" class=" right waves-effect waves-purple btn-flat" >
        <i class="material-icons">content_copy</i>  
      </a>
      <div class="input-field">
          <textarea  readonly #tta  class="materialize-textarea trans-select" >{{code}}</textarea>
        <!-- <input id="cin" disabled value={{code}} type="text" class="validate" /> -->
      </div>
    </div>
    <div class="modal-footer grey lighten-3">
      <a class="modal-close waves-effect waves-purple btn-flat">Cancel</a>

    </div>
  </div>