.p-l-10{
    padding-left: 10px;
}
.p-r-10{
    padding-right: 10px;
}


.dropdown-content {
    top: 45px !important;
    height: 200px !important;
    width: 100% !important;
  }

  
.project-setting {
    position: absolute;
    top: 13px;
    right: 10px;
}
#project-select {
    padding-top:  0px;
    padding-bottom:  0px;
    position: relative;
    padding-right: 34px;
}

#project-select .input-field {
    margin: 0;
}

#project-select input.select-dropdown {
    margin-bottom:  0px;
    border-bottom:  0px;
}

.main{

    margin-left: 310px !important;
  
    width: calc(100% - 320px) !important;
  }
  textarea[readonly] {
    color: graytext;
}
.trans-select::-moz-selection{
	background-color: transparent;
}
.trans-select::selection{
	background-color: transparent;
}
#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:7%;
    color:white;
  }
  body {
 
    font-family: Raleway,sans-serif;
 
}