<ul id="slide-out" class=" sidenav sidenav-fixed ">
  <ul class="collection with-header">
    <li class="collection-header"><h4>NLU Trainer</h4></li>
    <li class="collection-item"><div>Intents<a routerLink="/intentList" routerLinkActive="active" href="#!"  class="secondary-content"><i class="material-icons black-text">edit</i></a></div></li>
    <li class="collection-item"><div>Intents Edit<a routerLink="/intentEdit" routerLinkActive="active" href="#!" class="secondary-content"><i class="material-icons black-text">edit</i></a></div></li>
    <li class="collection-item"><div>Reporting<a routerLink="/reporting" routerLinkActive="active" href="#!" class="secondary-content"><i class="material-icons black-text">edit</i></a></div></li>
  </ul>
</ul>
<router-outlet></router-outlet>
