::ng-deep .mat-input-wrapper{

      width:960px !important;

    }

::ng-deep .mat-input-element{

background-color:black;

}

.example-container {

  position: absolute;



  bottom: 0;

  left: 0;



}



.example-events {

  width: 300px;

  height: 200px;

  overflow: auto;

  border: 1px solid #555;

}



.example-fill-remaining-space {

  /* This fills the remaining space, by using flexbox.

     Every toolbar row uses a flexbox row layout. */

  flex: 1 1 auto;

}

mat-grid-tile {

  background: lightblue;

}



.my-grid-tile {

    padding-top: 0px !important;

}

.main{

  margin-left: 310px !important;

  width: calc(100% - 320px) !important;

}


header, main, footer {

     padding-left: 300px;

   }



   @media only screen and (max-width : 992px) {

     header, main, footer {

       padding-left: 0;

     }

   }
.p-l-20{
      padding-left: 20px;
}

.input-field input:focus, .input-field input[type=text]:valid, .input-field input[type=password]:valid, nav .input-field input[type=email]:valid, .input-field input[type=url]:valid,  .input-field input[type=date]:valid {
    border: 1px solid rgba(0,0,0,.3);
    padding: 0px 10px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom-color:  purple;
    box-shadow: 0 1px 0 0 purple;
}

li.active {
    padding: 0px 0px;
    border: 1px solid rgba(0,0,0,.5);
}
.user-say {
    padding: 10px;
}
.user-say .input-field {
  margin: 0px;
}
.collection {
    border: 1px solid rgba(0,0,0,.5);
    margin-bottom: 10px;
}
blockquote {
  margin: 0px;
  border-left-color: purple;
}
/* Common  class */
.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.collapsible-header:focus {
    outline-color: transparent !important;
}
.text-select::selection{
  background:purple;
  color:white;
  text-shadow: none;
}
.text-select::webkit-selection{
  background:purple;
  text-shadow: none;
  color:white;
}
[hidden] { display: none !important;}
.p-l-0{
  padding-left:0px;
}
.p-l-10{
  padding-left:10px;
}
.p-0{
  padding:0px;
}
.entit-span {
    padding: 10px;
    border-radius: 50px;
    text-transform: lowercase;
}
.p-5{
  padding:5px;
}
.b-none{
    border:none;
}
.entity-edit{
    margin-top: 15px;
    overflow-y: scroll;
    max-height: 300px;
}
.entity-edit ul li table tbody tr td{
  padding:0px !important;
}
.entity-edit ul li table{
   border-collapse : inherit;
 }
